/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* Variables */
:root {
  --color-dark: #2c2c2c;
  --color-light: #ffffff;
  --color-primary: #1A73E8;
  --size-step-0: clamp(1rem, 1rem + 0.2vw, 1.125rem);
  --size-step-1: clamp(1.25rem, 1.2rem + 0.3vw, 1.5rem);
  --size-step-2: clamp(1.5rem, 1.4rem + 0.4vw, 1.75rem);
  --size-step-3: clamp(1.75rem, 1.6rem + 0.5vw, 2rem);
  --size-step-4: clamp(2rem, 1.8rem + 0.6vw, 2.5rem);
  --spacing: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: #f8ebee;
    --color-light: #0c3934;
    --color-primary: #3366cc;
  }
}

/* HTML Styles */
body {
  background: var(--color-light);
  color: var(--color-dark);
  padding: var(--spacing)
    clamp(calc(var(--spacing) / 2), 5vw, calc(var(--spacing) * 3));
  font-family: var(--font-body);
  font-size: var(--size-step-0);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  width: 100%;
}

header {
  padding-bottom: var(--spacing);
  text-transform: none;
}

main {
  flex: 1;
  padding-bottom: calc(var(--spacing) * 2);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  text-decoration-thickness: 0.15ex;
  text-underline-offset: 0.25ex;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 0.25ex;
  text-decoration-thickness: 0.15ex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
  font-family: var(--font-heading);
}

h1 {
  font-size: var(--size-step-4);
  line-height: 1.2;
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

h4 {
  font-size: var(--size-step-1);
}

h5 {
  font-size: var(--size-step-0);
}

ul,
ol {
  -webkit-padding-start: var(--spacing);
  padding-inline-start: var(--spacing);
}

li {
  --flow-space: var(--spacing);
  margin-block-start: var(--flow-space, var(--spacing));
}

blockquote {
  -webkit-padding-start: var(--spacing);
  padding-inline-start: var(--spacing);
  -webkit-border-start: 0.3em solid;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-0);
  border-width: 1px;
}

